.AlgListItem {
  border: 1px solid grey;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 500px;
}

.HasVideo {
  cursor: pointer;
}

.Alg {
  flex-grow: 1;
}
